<div class = "alert alert-danger">
Nice report and very good code, nice coding skills. The problem is interesting, but there is something that you could improve in the report: better structuring. You mention in the introduction that you are going to explore the data: "it will give us insights if sellers are pricing their cars at a reasonable rate depending on the aspects that where discussed before like mileage, age and brand of the car". That is fine, but a bit too abstract. Before going into more detail in the report, I would like to see concrete questions that you want to solve with the data, and how they can be translated into actionable knowledge and/or recommendations. After you have stated those questions, then you start explaining results. The questions should actually be the title of subsections in your report. Right now, you describe what you are doing (Time online vs km, age vs fuel type) but not a concrete thing or question you want to answer in advance. The conclusions section is a bit disconnected from your data, as you only say most sold used cars are mainly from Germany. 

<b>GRADE: </b> 9.0
</div>

# AUTOS

1. PySpark **environment setup**
2. Data source and **Spark data abstraction** (DataFrame) **set up**
3. Data set **metadata analysis**:
  1. Display **schema and size** of the DataFrame
  2. Get one or multiple **random samples** from the data set to better understand what the data is all about
4. **Price** and **Year of Registration** Analysis
  1. Describe price and Year of Registration
  2. Filtering Dataset by Price and Year of Registration conditions
5. **Dropping** misleading variables
6. **Creating** new variables
  1. Date of Registration
  2. Age of Car (in years)
  3. Time of ad online
7. Working with **NAs** and **Age of Car**
  1. Checking for NAs
  2. Dropping NAs
  3. Checking
  4. Removing ads where Age of Car < 0
  3. Number of Ads remaining 
8. Overview of  **Price vs Count**
  1. Checking the Cheapest, Expensive, Most sold and Least sold brands
  2. Filtering illogical high prices of cars
9. Overview of  **Timeonline vs Kilometers**
  1. Checking for Least and Most car online and distance covered
10. Overview of **Age vs Fuel Type** 
  1. Checking for Newest and Oldest Car with the most used fuel types
  2. Age of Car by Brand
  3. Fuel Type Average Price
  4. Count of different types of gearbox
  
 ## Link to Dataset: https://www.kaggle.com/orgesleka/used-cars-database

     
  ## The variables 
    dateCrawled : when this ad was first crawled, all field-values are taken from this date
    name : "name" of the car
    seller : private or dealer
    offerType 
    price : the price on the ad to sell the car
    abtest
    vehicleType
    yearOfRegistration : at which year the car was first registered
    gearbox
    powerPS : power of the car in PS
    model
    kilometer : how many kilometers the car has driven
    monthOfRegistration : at which month the car was first registered
    fuelType : benzene, gasoline, hybrid,elektric..
    brand: audi, bmw, jaguar, nissan, porsche...
    notRepairedDamage : if the car has a damage which is not repaired yet
    dateCreated : the date for which the ad at ebay was created
    nrOfPictures : number of pictures in the ad 
    postalCode
    lastSeenOnline : when the crawler saw this ad last online


The dataset consists of over 370,000 used cars scraped with Scrapy from Ebay-Kleinanzeigen. An analysis will be done to create a cleaned dataset that will help us understand more how logical the clients are pricing their cars on Ebay.


## 1- PySpark **environment setup**

In [2]:
import findspark
findspark.init()

from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession

sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

## 2. Data source and Spark data abstraction (DataFrame) setup

In [6]:
autosDF = spark.read \
                 .option("inferSchema", "true") \
                 .option("header", "true") \
                 .csv("datasets/autos.csv")

## 3. Data set metadata analysis
#### A. Display schema and size of the DataFrame

In [7]:
from IPython.display import display, Markdown

autosDF.printSchema()
display(Markdown("This DataFrame has **%d rows**." % autosDF.count()))

root
 |-- dateCrawled: timestamp (nullable = true)
 |-- name: string (nullable = true)
 |-- seller: string (nullable = true)
 |-- offerType: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- abtest: string (nullable = true)
 |-- vehicleType: string (nullable = true)
 |-- yearOfRegistration: integer (nullable = true)
 |-- gearbox: string (nullable = true)
 |-- powerPS: integer (nullable = true)
 |-- model: string (nullable = true)
 |-- kilometer: integer (nullable = true)
 |-- monthOfRegistration: integer (nullable = true)
 |-- fuelType: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- notRepairedDamage: string (nullable = true)
 |-- dateCreated: timestamp (nullable = true)
 |-- nrOfPictures: integer (nullable = true)
 |-- postalCode: integer (nullable = true)
 |-- lastSeen: timestamp (nullable = true)

This DataFrame has **371824 rows**.

#### B. Get one or multiple random samples from the data set

In [8]:
autosDF.sample(False, 0.1).show(3,truncate= False, vertical =True)

-RECORD 0-------------------------------------------
 dateCrawled         | 2016-03-24 11:52:17
 name                | Golf_3_1.6
 seller              | privat
 offerType           | Angebot
 price               | 480
 abtest              | test
 vehicleType         | null
 yearOfRegistration  | 1993
 gearbox             | manuell
 powerPS             | 0
 model               | golf
 kilometer           | 150000
 monthOfRegistration | 0
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | null
 dateCreated         | 2016-03-24 00:00:00
 nrOfPictures        | 0
 postalCode          | 70435
 lastSeen            | 2016-04-07 03:16:57
-RECORD 1-------------------------------------------
 dateCrawled         | 2016-03-17 16:54:04
 name                | GOLF_4_1_4__3Tï¿½RER
 seller              | privat
 offerType           | Angebot
 price               | 1500
 abtest              | test
 vehicleType         | kleinwagen
 yearOfRegistration  | 2001
 gearbox             | manuell
 powerPS             | 75
 model               | golf
 kilometer           | 150000
 monthOfRegistration | 6
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | nein
 dateCreated         | 2016-03-17 00:00:00
 nrOfPictures        | 0
 postalCode          | 91074
 lastSeen            | 2016-03-17 17:40:17
-RECORD 2-------------------------------------------
 dateCrawled         | 2016-03-21 18:54:38
 name                | VW_Derby_Bj_80__Scheunenfund
 seller              | privat
 offerType           | Angebot
 price               | 0
 abtest              | test
 vehicleType         | limousine
 yearOfRegistration  | 1980
 gearbox             | manuell
 powerPS             | 50
 model               | andere
 kilometer           | 40000
 monthOfRegistration | 7
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | nein
 dateCreated         | 2016-03-21 00:00:00
 nrOfPictures        | 0
 postalCode          | 19348
 lastSeen            | 2016-03-25 16:47:58
only showing top 3 rows

## 4.  Price and Year of Registration Analysis
#### A. Describe Price and Year of Registration Analysis

In [9]:
print("Price Summary :")
autosDF.describe('Price').show()
print("Year of Registration Summary :")
autosDF.describe('yearOfRegistration').show()

Price Summary :
+-------+------------------+
|summary|             Price|
+-------+------------------+
|  count|            371823|
|   mean|17286.338865535483|
| stddev|3586530.1840677853|
|    min|                 0|
|    max|        2147483647|
+-------+------------------+

Year of Registration Summary :
+-------+------------------+
|summary|yearOfRegistration|
+-------+------------------+
|  count|            371823|
|   mean|2004.5767206439623|
| stddev|  92.8299905430405|
|    min|              1000|
|    max|              9999|
+-------+------------------+

#### B. Filtering Dataset by Price and Year of Registration conditions

In [10]:
autos_DF = autosDF.where("Price > 500 and Price < 100000")
autos_DF = autos_DF.where("yearOfRegistration > 1900 and yearOfRegistration < 2020")
autos_DF.cache()

DataFrame[dateCrawled: timestamp, name: string, seller: string, offerType: string, price: int, abtest: string, vehicleType: string, yearOfRegistration: int, gearbox: string, powerPS: int, model: string, kilometer: int, monthOfRegistration: int, fuelType: string, brand: string, notRepairedDamage: string, dateCreated: timestamp, nrOfPictures: int, postalCode: int, lastSeen: timestamp]

In [11]:
print("Price Summary :")
autos_DF.describe('Price').show()
print("Year of Registration Summary :")
autos_DF.describe('yearOfRegistration').show()

Price Summary :
+-------+-----------------+
|summary|            Price|
+-------+-----------------+
|  count|           329568|
|   mean|6285.719942470143|
| stddev|7688.797185591162|
|    min|              501|
|    max|            99999|
+-------+-----------------+

Year of Registration Summary :
+-------+------------------+
|summary|yearOfRegistration|
+-------+------------------+
|  count|            329568|
|   mean|2003.8476824206234|
| stddev| 7.440211442291847|
|    min|              1910|
|    max|              2019|
+-------+------------------+

In [12]:
autos_DF.show(n=20, truncate=False, vertical=True)

-RECORD 0--------------------------------------------------------------------------------
 dateCrawled         | 2016-03-24 10:58:45
 name                | A5_Sportback_2.7_Tdi
 seller              | privat
 offerType           | Angebot
 price               | 18300
 abtest              | test
 vehicleType         | coupe
 yearOfRegistration  | 2011
 gearbox             | manuell
 powerPS             | 190
 model               | null
 kilometer           | 125000
 monthOfRegistration | 5
 fuelType            | diesel
 brand               | audi
 notRepairedDamage   | ja
 dateCreated         | 2016-03-24 00:00:00
 nrOfPictures        | 0
 postalCode          | 66954
 lastSeen            | 2016-04-07 01:46:50
-RECORD 1--------------------------------------------------------------------------------
 dateCrawled         | 2016-03-14 12:52:21
 name                | Jeep_Grand_Cherokee_"Overland"
 seller              | privat
 offerType           | Angebot
 price               | 9800
 abtest              | test
 vehicleType         | suv
 yearOfRegistration  | 2004
 gearbox             | automatik
 powerPS             | 163
 model               | grand
 kilometer           | 125000
 monthOfRegistration | 8
 fuelType            | diesel
 brand               | jeep
 notRepairedDamage   | null
 dateCreated         | 2016-03-14 00:00:00
 nrOfPictures        | 0
 postalCode          | 90480
 lastSeen            | 2016-04-05 12:47:46
-RECORD 2--------------------------------------------------------------------------------
 dateCrawled         | 2016-03-17 16:54:04
 name                | GOLF_4_1_4__3Tï¿½RER
 seller              | privat
 offerType           | Angebot
 price               | 1500
 abtest              | test
 vehicleType         | kleinwagen
 yearOfRegistration  | 2001
 gearbox             | manuell
 powerPS             | 75
 model               | golf
 kilometer           | 150000
 monthOfRegistration | 6
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | nein
 dateCreated         | 2016-03-17 00:00:00
 nrOfPictures        | 0
 postalCode          | 91074
 lastSeen            | 2016-03-17 17:40:17
-RECORD 3--------------------------------------------------------------------------------
 dateCrawled         | 2016-03-31 17:25:20
 name                | Skoda_Fabia_1.4_TDI_PD_Classic
 seller              | privat
 offerType           | Angebot
 price               | 3600
 abtest              | test
 vehicleType         | kleinwagen
 yearOfRegistration  | 2008
 gearbox             | manuell
 powerPS             | 69
 model               | fabia
 kilometer           | 90000
 monthOfRegistration | 7
 fuelType            | diesel
 brand               | skoda
 notRepairedDamage   | nein
 dateCreated         | 2016-03-31 00:00:00
 nrOfPictures        | 0
 postalCode          | 60437
 lastSeen            | 2016-04-06 10:17:21
-RECORD 4--------------------------------------------------------------------------------
 dateCrawled         | 2016-04-04 17:36:23
 name                | BMW_316i___e36_Limousine___Bastlerfahrzeug__Export
 seller              | privat
 offerType           | Angebot
 price               | 650
 abtest              | test
 vehicleType         | limousine
 yearOfRegistration  | 1995
 gearbox             | manuell
 powerPS             | 102
 model               | 3er
 kilometer           | 150000
 monthOfRegistration | 10
 fuelType            | benzin
 brand               | bmw
 notRepairedDamage   | ja
 dateCreated         | 2016-04-04 00:00:00
 nrOfPictures        | 0
 postalCode          | 33775
 lastSeen            | 2016-04-06 19:17:07
-RECORD 5--------------------------------------------------------------------------------
 dateCrawled         | 2016-04-01 20:48:51
 name                | Peugeot_206_CC_110_Platinum
 seller              | privat
 offerType           | Angebot
 price               | 2200
 abtest              | test
 vehicleType         | cabrio
 yearOfRegistration  | 2004
 gearbox             | manuell
 powerPS             | 109
 model               | 2_reihe
 kilometer           | 150000
 monthOfRegistration | 8
 fuelType            | benzin
 brand               | peugeot
 notRepairedDamage   | nein
 dateCreated         | 2016-04-01 00:00:00
 nrOfPictures        | 0
 postalCode          | 67112
 lastSeen            | 2016-04-05 18:18:39
-RECORD 6--------------------------------------------------------------------------------
 dateCrawled         | 2016-04-04 23:42:13
 name                | Ford_C___Max_Titanium_1_0_L_EcoBoost
 seller              | privat
 offerType           | Angebot
 price               | 14500
 abtest              | control
 vehicleType         | bus
 yearOfRegistration  | 2014
 gearbox             | manuell
 powerPS             | 125
 model               | c_max
 kilometer           | 30000
 monthOfRegistration | 8
 fuelType            | benzin
 brand               | ford
 notRepairedDamage   | null
 dateCreated         | 2016-04-04 00:00:00
 nrOfPictures        | 0
 postalCode          | 94505
 lastSeen            | 2016-04-04 23:42:13
-RECORD 7--------------------------------------------------------------------------------
 dateCrawled         | 2016-03-17 10:53:50
 name                | VW_Golf_4_5_tuerig_zu_verkaufen_mit_Anhaengerkupplung
 seller              | privat
 offerType           | Angebot
 price               | 999
 abtest              | test
 vehicleType         | kleinwagen
 yearOfRegistration  | 1998
 gearbox             | manuell
 powerPS             | 101
 model               | golf
 kilometer           | 150000
 monthOfRegistration | 0
 fuelType            | null
 brand               | volkswagen
 notRepairedDamage   | null
 dateCreated         | 2016-03-17 00:00:00
 nrOfPictures        | 0
 postalCode          | 27472
 lastSeen            | 2016-03-31 17:17:06
-RECORD 8--------------------------------------------------------------------------------
 dateCrawled         | 2016-03-26 19:54:18
 name                | Mazda_3_1.6_Sport
 seller              | privat
 offerType           | Angebot
 price               | 2000
 abtest              | control
 vehicleType         | limousine
 yearOfRegistration  | 2004
 gearbox             | manuell
 powerPS             | 105
 model               | 3_reihe
 kilometer           | 150000
 monthOfRegistration | 12
 fuelType            | benzin
 brand               | mazda
 notRepairedDamage   | nein
 dateCreated         | 2016-03-26 00:00:00
 nrOfPictures        | 0
 postalCode          | 96224
 lastSeen            | 2016-04-06 10:45:34
-RECORD 9--------------------------------------------------------------------------------
 dateCrawled         | 2016-04-07 10:06:22
 name                | Volkswagen_Passat_Variant_2.0_TDI_Comfortline
 seller              | privat
 offerType           | Angebot
 price               | 2799
 abtest              | control
 vehicleType         | kombi
 yearOfRegistration  | 2005
 gearbox             | manuell
 powerPS             | 140
 model               | passat
 kilometer           | 150000
 monthOfRegistration | 12
 fuelType            | diesel
 brand               | volkswagen
 notRepairedDamage   | ja
 dateCreated         | 2016-04-07 00:00:00
 nrOfPictures        | 0
 postalCode          | 57290
 lastSeen            | 2016-04-07 10:25:17
-RECORD 10-------------------------------------------------------------------------------
 dateCrawled         | 2016-03-15 22:49:09
 name                | VW_Passat_Facelift_35i__"7Sitzer"
 seller              | privat
 offerType           | Angebot
 price               | 999
 abtest              | control
 vehicleType         | kombi
 yearOfRegistration  | 1995
 gearbox             | manuell
 powerPS             | 115
 model               | passat
 kilometer           | 150000
 monthOfRegistration | 11
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | null
 dateCreated         | 2016-03-15 00:00:00
 nrOfPictures        | 0
 postalCode          | 37269
 lastSeen            | 2016-04-01 13:16:16
-RECORD 11-------------------------------------------------------------------------------
 dateCrawled         | 2016-03-21 21:37:40
 name                | VW_PASSAT_1.9_TDI_131_PS_LEDER
 seller              | privat
 offerType           | Angebot
 price               | 2500
 abtest              | control
 vehicleType         | kombi
 yearOfRegistration  | 2004
 gearbox             | manuell
 powerPS             | 131
 model               | passat
 kilometer           | 150000
 monthOfRegistration | 2
 fuelType            | null
 brand               | volkswagen
 notRepairedDamage   | nein
 dateCreated         | 2016-03-21 00:00:00
 nrOfPictures        | 0
 postalCode          | 90762
 lastSeen            | 2016-03-23 02:50:54
-RECORD 12-------------------------------------------------------------------------------
 dateCrawled         | 2016-03-21 12:57:01
 name                | Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Bluetooth.Doppelkabine
 seller              | privat
 offerType           | Angebot
 price               | 17999
 abtest              | control
 vehicleType         | suv
 yearOfRegistration  | 2011
 gearbox             | manuell
 powerPS             | 190
 model               | navara
 kilometer           | 70000
 monthOfRegistration | 3
 fuelType            | diesel
 brand               | nissan
 notRepairedDamage   | nein
 dateCreated         | 2016-03-21 00:00:00
 nrOfPictures        | 0
 postalCode          | 4177
 lastSeen            | 2016-04-06 07:45:42
-RECORD 13-------------------------------------------------------------------------------
 dateCrawled         | 2016-03-20 10:25:19
 name                | Renault_Twingo_1.2_16V_Aut.
 seller              | privat
 offerType           | Angebot
 price               | 1750
 abtest              | control
 vehicleType         | kleinwagen
 yearOfRegistration  | 2004
 gearbox             | automatik
 powerPS             | 75
 model               | twingo
 kilometer           | 150000
 monthOfRegistration | 2
 fuelType            | benzin
 brand               | renault
 notRepairedDamage   | nein
 dateCreated         | 2016-03-20 00:00:00
 nrOfPictures        | 0
 postalCode          | 65599
 lastSeen            | 2016-04-06 13:16:07
-RECORD 14-------------------------------------------------------------------------------
 dateCrawled         | 2016-03-23 15:48:05
 name                | Ford_C_MAX_2.0_TDCi_DPF_Titanium
 seller              | privat
 offerType           | Angebot
 price               | 7550
 abtest              | test
 vehicleType         | bus
 yearOfRegistration  | 2007
 gearbox             | manuell
 powerPS             | 136
 model               | c_max
 kilometer           | 150000
 monthOfRegistration | 6
 fuelType            | diesel
 brand               | ford
 notRepairedDamage   | nein
 dateCreated         | 2016-03-23 00:00:00
 nrOfPictures        | 0
 postalCode          | 88361
 lastSeen            | 2016-04-05 18:45:11
-RECORD 15-------------------------------------------------------------------------------
 dateCrawled         | 2016-04-01 22:55:47
 name                | Mercedes_Benz_A_160_Classic_Klima
 seller              | privat
 offerType           | Angebot
 price               | 1850
 abtest              | test
 vehicleType         | bus
 yearOfRegistration  | 2004
 gearbox             | manuell
 powerPS             | 102
 model               | a_klasse
 kilometer           | 150000
 monthOfRegistration | 1
 fuelType            | benzin
 brand               | mercedes_benz
 notRepairedDamage   | nein
 dateCreated         | 2016-04-01 00:00:00
 nrOfPictures        | 0
 postalCode          | 49565
 lastSeen            | 2016-04-05 22:46:05
-RECORD 16-------------------------------------------------------------------------------
 dateCrawled         | 2016-04-01 19:56:48
 name                | Volkswagen_Scirocco_1.4_TSI_Sport
 seller              | privat
 offerType           | Angebot
 price               | 10400
 abtest              | control
 vehicleType         | coupe
 yearOfRegistration  | 2009
 gearbox             | manuell
 powerPS             | 160
 model               | scirocco
 kilometer           | 100000
 monthOfRegistration | 4
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | nein
 dateCreated         | 2016-04-01 00:00:00
 nrOfPictures        | 0
 postalCode          | 75365
 lastSeen            | 2016-04-05 16:45:49
-RECORD 17-------------------------------------------------------------------------------
 dateCrawled         | 2016-03-27 11:38:00
 name                | BMW_530i_Tï¿½V_7/17_Scheckheftgepflegt_sehr_guter_Zustand
 seller              | privat
 offerType           | Angebot
 price               | 3699
 abtest              | test
 vehicleType         | limousine
 yearOfRegistration  | 2002
 gearbox             | automatik
 powerPS             | 231
 model               | 5er
 kilometer           | 150000
 monthOfRegistration | 7
 fuelType            | benzin
 brand               | bmw
 notRepairedDamage   | nein
 dateCreated         | 2016-03-27 00:00:00
 nrOfPictures        | 0
 postalCode          | 68309
 lastSeen            | 2016-04-07 06:44:26
-RECORD 18-------------------------------------------------------------------------------
 dateCrawled         | 2016-03-23 14:52:51
 name                | Opel_Meriva_1.Hand_Tï¿½V_3.2018
 seller              | privat
 offerType           | Angebot
 price               | 2900
 abtest              | test
 vehicleType         | null
 yearOfRegistration  | 2018
 gearbox             | manuell
 powerPS             | 90
 model               | meriva
 kilometer           | 150000
 monthOfRegistration | 5
 fuelType            | benzin
 brand               | opel
 notRepairedDamage   | nein
 dateCreated         | 2016-03-23 00:00:00
 nrOfPictures        | 0
 postalCode          | 49716
 lastSeen            | 2016-03-31 01:16:33
-RECORD 19-------------------------------------------------------------------------------
 dateCrawled         | 2016-03-18 21:44:09
 name                | BMW_530d_touring_Vollausstattung_NAVI
 seller              | privat
 offerType           | Angebot
 price               | 2500
 abtest              | control
 vehicleType         | kombi
 yearOfRegistration  | 2002
 gearbox             | automatik
 powerPS             | 193
 model               | 5er
 kilometer           | 150000
 monthOfRegistration | 9
 fuelType            | diesel
 brand               | bmw
 notRepairedDamage   | ja
 dateCreated         | 2016-03-18 00:00:00
 nrOfPictures        | 0
 postalCode          | 73765
 lastSeen            | 2016-03-18 21:44:09
only showing top 20 rows

## 5. Dropping misleading variables

In [13]:
autos_DF =autos_DF.drop("dateCrawled").drop("name").drop("abtest").drop("offerType")\
                  .drop("Seller").drop("powerPS").drop("nrofPictures").drop("postalCode").drop("model")
autos_DF.show(n=20, truncate=False, vertical=True)

-RECORD 0----------------------------------
 price               | 18300
 vehicleType         | coupe
 yearOfRegistration  | 2011
 gearbox             | manuell
 kilometer           | 125000
 monthOfRegistration | 5
 fuelType            | diesel
 brand               | audi
 notRepairedDamage   | ja
 dateCreated         | 2016-03-24 00:00:00
 lastSeen            | 2016-04-07 01:46:50
-RECORD 1----------------------------------
 price               | 9800
 vehicleType         | suv
 yearOfRegistration  | 2004
 gearbox             | automatik
 kilometer           | 125000
 monthOfRegistration | 8
 fuelType            | diesel
 brand               | jeep
 notRepairedDamage   | null
 dateCreated         | 2016-03-14 00:00:00
 lastSeen            | 2016-04-05 12:47:46
-RECORD 2----------------------------------
 price               | 1500
 vehicleType         | kleinwagen
 yearOfRegistration  | 2001
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 6
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | nein
 dateCreated         | 2016-03-17 00:00:00
 lastSeen            | 2016-03-17 17:40:17
-RECORD 3----------------------------------
 price               | 3600
 vehicleType         | kleinwagen
 yearOfRegistration  | 2008
 gearbox             | manuell
 kilometer           | 90000
 monthOfRegistration | 7
 fuelType            | diesel
 brand               | skoda
 notRepairedDamage   | nein
 dateCreated         | 2016-03-31 00:00:00
 lastSeen            | 2016-04-06 10:17:21
-RECORD 4----------------------------------
 price               | 650
 vehicleType         | limousine
 yearOfRegistration  | 1995
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 10
 fuelType            | benzin
 brand               | bmw
 notRepairedDamage   | ja
 dateCreated         | 2016-04-04 00:00:00
 lastSeen            | 2016-04-06 19:17:07
-RECORD 5----------------------------------
 price               | 2200
 vehicleType         | cabrio
 yearOfRegistration  | 2004
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 8
 fuelType            | benzin
 brand               | peugeot
 notRepairedDamage   | nein
 dateCreated         | 2016-04-01 00:00:00
 lastSeen            | 2016-04-05 18:18:39
-RECORD 6----------------------------------
 price               | 14500
 vehicleType         | bus
 yearOfRegistration  | 2014
 gearbox             | manuell
 kilometer           | 30000
 monthOfRegistration | 8
 fuelType            | benzin
 brand               | ford
 notRepairedDamage   | null
 dateCreated         | 2016-04-04 00:00:00
 lastSeen            | 2016-04-04 23:42:13
-RECORD 7----------------------------------
 price               | 999
 vehicleType         | kleinwagen
 yearOfRegistration  | 1998
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 0
 fuelType            | null
 brand               | volkswagen
 notRepairedDamage   | null
 dateCreated         | 2016-03-17 00:00:00
 lastSeen            | 2016-03-31 17:17:06
-RECORD 8----------------------------------
 price               | 2000
 vehicleType         | limousine
 yearOfRegistration  | 2004
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 12
 fuelType            | benzin
 brand               | mazda
 notRepairedDamage   | nein
 dateCreated         | 2016-03-26 00:00:00
 lastSeen            | 2016-04-06 10:45:34
-RECORD 9----------------------------------
 price               | 2799
 vehicleType         | kombi
 yearOfRegistration  | 2005
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 12
 fuelType            | diesel
 brand               | volkswagen
 notRepairedDamage   | ja
 dateCreated         | 2016-04-07 00:00:00
 lastSeen            | 2016-04-07 10:25:17
-RECORD 10---------------------------------
 price               | 999
 vehicleType         | kombi
 yearOfRegistration  | 1995
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 11
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | null
 dateCreated         | 2016-03-15 00:00:00
 lastSeen            | 2016-04-01 13:16:16
-RECORD 11---------------------------------
 price               | 2500
 vehicleType         | kombi
 yearOfRegistration  | 2004
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 2
 fuelType            | null
 brand               | volkswagen
 notRepairedDamage   | nein
 dateCreated         | 2016-03-21 00:00:00
 lastSeen            | 2016-03-23 02:50:54
-RECORD 12---------------------------------
 price               | 17999
 vehicleType         | suv
 yearOfRegistration  | 2011
 gearbox             | manuell
 kilometer           | 70000
 monthOfRegistration | 3
 fuelType            | diesel
 brand               | nissan
 notRepairedDamage   | nein
 dateCreated         | 2016-03-21 00:00:00
 lastSeen            | 2016-04-06 07:45:42
-RECORD 13---------------------------------
 price               | 1750
 vehicleType         | kleinwagen
 yearOfRegistration  | 2004
 gearbox             | automatik
 kilometer           | 150000
 monthOfRegistration | 2
 fuelType            | benzin
 brand               | renault
 notRepairedDamage   | nein
 dateCreated         | 2016-03-20 00:00:00
 lastSeen            | 2016-04-06 13:16:07
-RECORD 14---------------------------------
 price               | 7550
 vehicleType         | bus
 yearOfRegistration  | 2007
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 6
 fuelType            | diesel
 brand               | ford
 notRepairedDamage   | nein
 dateCreated         | 2016-03-23 00:00:00
 lastSeen            | 2016-04-05 18:45:11
-RECORD 15---------------------------------
 price               | 1850
 vehicleType         | bus
 yearOfRegistration  | 2004
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 1
 fuelType            | benzin
 brand               | mercedes_benz
 notRepairedDamage   | nein
 dateCreated         | 2016-04-01 00:00:00
 lastSeen            | 2016-04-05 22:46:05
-RECORD 16---------------------------------
 price               | 10400
 vehicleType         | coupe
 yearOfRegistration  | 2009
 gearbox             | manuell
 kilometer           | 100000
 monthOfRegistration | 4
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | nein
 dateCreated         | 2016-04-01 00:00:00
 lastSeen            | 2016-04-05 16:45:49
-RECORD 17---------------------------------
 price               | 3699
 vehicleType         | limousine
 yearOfRegistration  | 2002
 gearbox             | automatik
 kilometer           | 150000
 monthOfRegistration | 7
 fuelType            | benzin
 brand               | bmw
 notRepairedDamage   | nein
 dateCreated         | 2016-03-27 00:00:00
 lastSeen            | 2016-04-07 06:44:26
-RECORD 18---------------------------------
 price               | 2900
 vehicleType         | null
 yearOfRegistration  | 2018
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 5
 fuelType            | benzin
 brand               | opel
 notRepairedDamage   | nein
 dateCreated         | 2016-03-23 00:00:00
 lastSeen            | 2016-03-31 01:16:33
-RECORD 19---------------------------------
 price               | 2500
 vehicleType         | kombi
 yearOfRegistration  | 2002
 gearbox             | automatik
 kilometer           | 150000
 monthOfRegistration | 9
 fuelType            | diesel
 brand               | bmw
 notRepairedDamage   | ja
 dateCreated         | 2016-03-18 00:00:00
 lastSeen            | 2016-03-18 21:44:09
only showing top 20 rows

### Importing the needed functions and types

In [14]:
from pyspark.sql.functions import lit, concat, datediff, bround, max, asc, desc, count, when, min, max, stddev, to_timestamp, avg,countDistinct, col
from pyspark.sql.types import DateType

from pyspark.sql import functions as sf

## 6. Creating new variables
##### A. Date of Registration

In [15]:
autos_DF = autos_DF.withColumn('DateofRegistration', 
                    sf.concat(sf.col('yearofRegistration'), sf.lit('-'), sf.col('monthofRegistration'),\
                                sf.lit('-'), lit("1") ))

autos_DF.show(n=20, truncate=False, vertical=True)

-RECORD 0----------------------------------
 price               | 18300
 vehicleType         | coupe
 yearOfRegistration  | 2011
 gearbox             | manuell
 kilometer           | 125000
 monthOfRegistration | 5
 fuelType            | diesel
 brand               | audi
 notRepairedDamage   | ja
 dateCreated         | 2016-03-24 00:00:00
 lastSeen            | 2016-04-07 01:46:50
 DateofRegistration  | 2011-5-1
-RECORD 1----------------------------------
 price               | 9800
 vehicleType         | suv
 yearOfRegistration  | 2004
 gearbox             | automatik
 kilometer           | 125000
 monthOfRegistration | 8
 fuelType            | diesel
 brand               | jeep
 notRepairedDamage   | null
 dateCreated         | 2016-03-14 00:00:00
 lastSeen            | 2016-04-05 12:47:46
 DateofRegistration  | 2004-8-1
-RECORD 2----------------------------------
 price               | 1500
 vehicleType         | kleinwagen
 yearOfRegistration  | 2001
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 6
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | nein
 dateCreated         | 2016-03-17 00:00:00
 lastSeen            | 2016-03-17 17:40:17
 DateofRegistration  | 2001-6-1
-RECORD 3----------------------------------
 price               | 3600
 vehicleType         | kleinwagen
 yearOfRegistration  | 2008
 gearbox             | manuell
 kilometer           | 90000
 monthOfRegistration | 7
 fuelType            | diesel
 brand               | skoda
 notRepairedDamage   | nein
 dateCreated         | 2016-03-31 00:00:00
 lastSeen            | 2016-04-06 10:17:21
 DateofRegistration  | 2008-7-1
-RECORD 4----------------------------------
 price               | 650
 vehicleType         | limousine
 yearOfRegistration  | 1995
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 10
 fuelType            | benzin
 brand               | bmw
 notRepairedDamage   | ja
 dateCreated         | 2016-04-04 00:00:00
 lastSeen            | 2016-04-06 19:17:07
 DateofRegistration  | 1995-10-1
-RECORD 5----------------------------------
 price               | 2200
 vehicleType         | cabrio
 yearOfRegistration  | 2004
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 8
 fuelType            | benzin
 brand               | peugeot
 notRepairedDamage   | nein
 dateCreated         | 2016-04-01 00:00:00
 lastSeen            | 2016-04-05 18:18:39
 DateofRegistration  | 2004-8-1
-RECORD 6----------------------------------
 price               | 14500
 vehicleType         | bus
 yearOfRegistration  | 2014
 gearbox             | manuell
 kilometer           | 30000
 monthOfRegistration | 8
 fuelType            | benzin
 brand               | ford
 notRepairedDamage   | null
 dateCreated         | 2016-04-04 00:00:00
 lastSeen            | 2016-04-04 23:42:13
 DateofRegistration  | 2014-8-1
-RECORD 7----------------------------------
 price               | 999
 vehicleType         | kleinwagen
 yearOfRegistration  | 1998
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 0
 fuelType            | null
 brand               | volkswagen
 notRepairedDamage   | null
 dateCreated         | 2016-03-17 00:00:00
 lastSeen            | 2016-03-31 17:17:06
 DateofRegistration  | 1998-0-1
-RECORD 8----------------------------------
 price               | 2000
 vehicleType         | limousine
 yearOfRegistration  | 2004
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 12
 fuelType            | benzin
 brand               | mazda
 notRepairedDamage   | nein
 dateCreated         | 2016-03-26 00:00:00
 lastSeen            | 2016-04-06 10:45:34
 DateofRegistration  | 2004-12-1
-RECORD 9----------------------------------
 price               | 2799
 vehicleType         | kombi
 yearOfRegistration  | 2005
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 12
 fuelType            | diesel
 brand               | volkswagen
 notRepairedDamage   | ja
 dateCreated         | 2016-04-07 00:00:00
 lastSeen            | 2016-04-07 10:25:17
 DateofRegistration  | 2005-12-1
-RECORD 10---------------------------------
 price               | 999
 vehicleType         | kombi
 yearOfRegistration  | 1995
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 11
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | null
 dateCreated         | 2016-03-15 00:00:00
 lastSeen            | 2016-04-01 13:16:16
 DateofRegistration  | 1995-11-1
-RECORD 11---------------------------------
 price               | 2500
 vehicleType         | kombi
 yearOfRegistration  | 2004
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 2
 fuelType            | null
 brand               | volkswagen
 notRepairedDamage   | nein
 dateCreated         | 2016-03-21 00:00:00
 lastSeen            | 2016-03-23 02:50:54
 DateofRegistration  | 2004-2-1
-RECORD 12---------------------------------
 price               | 17999
 vehicleType         | suv
 yearOfRegistration  | 2011
 gearbox             | manuell
 kilometer           | 70000
 monthOfRegistration | 3
 fuelType            | diesel
 brand               | nissan
 notRepairedDamage   | nein
 dateCreated         | 2016-03-21 00:00:00
 lastSeen            | 2016-04-06 07:45:42
 DateofRegistration  | 2011-3-1
-RECORD 13---------------------------------
 price               | 1750
 vehicleType         | kleinwagen
 yearOfRegistration  | 2004
 gearbox             | automatik
 kilometer           | 150000
 monthOfRegistration | 2
 fuelType            | benzin
 brand               | renault
 notRepairedDamage   | nein
 dateCreated         | 2016-03-20 00:00:00
 lastSeen            | 2016-04-06 13:16:07
 DateofRegistration  | 2004-2-1
-RECORD 14---------------------------------
 price               | 7550
 vehicleType         | bus
 yearOfRegistration  | 2007
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 6
 fuelType            | diesel
 brand               | ford
 notRepairedDamage   | nein
 dateCreated         | 2016-03-23 00:00:00
 lastSeen            | 2016-04-05 18:45:11
 DateofRegistration  | 2007-6-1
-RECORD 15---------------------------------
 price               | 1850
 vehicleType         | bus
 yearOfRegistration  | 2004
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 1
 fuelType            | benzin
 brand               | mercedes_benz
 notRepairedDamage   | nein
 dateCreated         | 2016-04-01 00:00:00
 lastSeen            | 2016-04-05 22:46:05
 DateofRegistration  | 2004-1-1
-RECORD 16---------------------------------
 price               | 10400
 vehicleType         | coupe
 yearOfRegistration  | 2009
 gearbox             | manuell
 kilometer           | 100000
 monthOfRegistration | 4
 fuelType            | benzin
 brand               | volkswagen
 notRepairedDamage   | nein
 dateCreated         | 2016-04-01 00:00:00
 lastSeen            | 2016-04-05 16:45:49
 DateofRegistration  | 2009-4-1
-RECORD 17---------------------------------
 price               | 3699
 vehicleType         | limousine
 yearOfRegistration  | 2002
 gearbox             | automatik
 kilometer           | 150000
 monthOfRegistration | 7
 fuelType            | benzin
 brand               | bmw
 notRepairedDamage   | nein
 dateCreated         | 2016-03-27 00:00:00
 lastSeen            | 2016-04-07 06:44:26
 DateofRegistration  | 2002-7-1
-RECORD 18---------------------------------
 price               | 2900
 vehicleType         | null
 yearOfRegistration  | 2018
 gearbox             | manuell
 kilometer           | 150000
 monthOfRegistration | 5
 fuelType            | benzin
 brand               | opel
 notRepairedDamage   | nein
 dateCreated         | 2016-03-23 00:00:00
 lastSeen            | 2016-03-31 01:16:33
 DateofRegistration  | 2018-5-1
-RECORD 19---------------------------------
 price               | 2500
 vehicleType         | kombi
 yearOfRegistration  | 2002
 gearbox             | automatik
 kilometer           | 150000
 monthOfRegistration | 9
 fuelType            | diesel
 brand               | bmw
 notRepairedDamage   | ja
 dateCreated         | 2016-03-18 00:00:00
 lastSeen            | 2016-03-18 21:44:09
 DateofRegistration  | 2002-9-1
only showing top 20 rows

##### B. Age of Car in years

In [16]:
autos_DF =autos_DF.drop("yearofRegistration","monthofRegistration")
autos_DF = autos_DF.withColumn('DateofRegistration', autos_DF['DateofRegistration'].cast(DateType()))
autos_DF = autos_DF.withColumn('dateCreated', autos_DF['dateCreated'].cast(DateType()))
autos_DF.show(n=20, truncate=False, vertical=True)

-RECORD 0---------------------------------
 price              | 18300
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 125000
 fuelType           | diesel
 brand              | audi
 notRepairedDamage  | ja
 dateCreated        | 2016-03-24
 lastSeen           | 2016-04-07 01:46:50
 DateofRegistration | 2011-05-01
-RECORD 1---------------------------------
 price              | 9800
 vehicleType        | suv
 gearbox            | automatik
 kilometer          | 125000
 fuelType           | diesel
 brand              | jeep
 notRepairedDamage  | null
 dateCreated        | 2016-03-14
 lastSeen           | 2016-04-05 12:47:46
 DateofRegistration | 2004-08-01
-RECORD 2---------------------------------
 price              | 1500
 vehicleType        | kleinwagen
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | volkswagen
 notRepairedDamage  | nein
 dateCreated        | 2016-03-17
 lastSeen           | 2016-03-17 17:40:17
 DateofRegistration | 2001-06-01
-RECORD 3---------------------------------
 price              | 3600
 vehicleType        | kleinwagen
 gearbox            | manuell
 kilometer          | 90000
 fuelType           | diesel
 brand              | skoda
 notRepairedDamage  | nein
 dateCreated        | 2016-03-31
 lastSeen           | 2016-04-06 10:17:21
 DateofRegistration | 2008-07-01
-RECORD 4---------------------------------
 price              | 650
 vehicleType        | limousine
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | bmw
 notRepairedDamage  | ja
 dateCreated        | 2016-04-04
 lastSeen           | 2016-04-06 19:17:07
 DateofRegistration | 1995-10-01
-RECORD 5---------------------------------
 price              | 2200
 vehicleType        | cabrio
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | peugeot
 notRepairedDamage  | nein
 dateCreated        | 2016-04-01
 lastSeen           | 2016-04-05 18:18:39
 DateofRegistration | 2004-08-01
-RECORD 6---------------------------------
 price              | 14500
 vehicleType        | bus
 gearbox            | manuell
 kilometer          | 30000
 fuelType           | benzin
 brand              | ford
 notRepairedDamage  | null
 dateCreated        | 2016-04-04
 lastSeen           | 2016-04-04 23:42:13
 DateofRegistration | 2014-08-01
-RECORD 7---------------------------------
 price              | 999
 vehicleType        | kleinwagen
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | null
 brand              | volkswagen
 notRepairedDamage  | null
 dateCreated        | 2016-03-17
 lastSeen           | 2016-03-31 17:17:06
 DateofRegistration | null
-RECORD 8---------------------------------
 price              | 2000
 vehicleType        | limousine
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | mazda
 notRepairedDamage  | nein
 dateCreated        | 2016-03-26
 lastSeen           | 2016-04-06 10:45:34
 DateofRegistration | 2004-12-01
-RECORD 9---------------------------------
 price              | 2799
 vehicleType        | kombi
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | diesel
 brand              | volkswagen
 notRepairedDamage  | ja
 dateCreated        | 2016-04-07
 lastSeen           | 2016-04-07 10:25:17
 DateofRegistration | 2005-12-01
-RECORD 10--------------------------------
 price              | 999
 vehicleType        | kombi
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | volkswagen
 notRepairedDamage  | null
 dateCreated        | 2016-03-15
 lastSeen           | 2016-04-01 13:16:16
 DateofRegistration | 1995-11-01
-RECORD 11--------------------------------
 price              | 2500
 vehicleType        | kombi
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | null
 brand              | volkswagen
 notRepairedDamage  | nein
 dateCreated        | 2016-03-21
 lastSeen           | 2016-03-23 02:50:54
 DateofRegistration | 2004-02-01
-RECORD 12--------------------------------
 price              | 17999
 vehicleType        | suv
 gearbox            | manuell
 kilometer          | 70000
 fuelType           | diesel
 brand              | nissan
 notRepairedDamage  | nein
 dateCreated        | 2016-03-21
 lastSeen           | 2016-04-06 07:45:42
 DateofRegistration | 2011-03-01
-RECORD 13--------------------------------
 price              | 1750
 vehicleType        | kleinwagen
 gearbox            | automatik
 kilometer          | 150000
 fuelType           | benzin
 brand              | renault
 notRepairedDamage  | nein
 dateCreated        | 2016-03-20
 lastSeen           | 2016-04-06 13:16:07
 DateofRegistration | 2004-02-01
-RECORD 14--------------------------------
 price              | 7550
 vehicleType        | bus
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | diesel
 brand              | ford
 notRepairedDamage  | nein
 dateCreated        | 2016-03-23
 lastSeen           | 2016-04-05 18:45:11
 DateofRegistration | 2007-06-01
-RECORD 15--------------------------------
 price              | 1850
 vehicleType        | bus
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | mercedes_benz
 notRepairedDamage  | nein
 dateCreated        | 2016-04-01
 lastSeen           | 2016-04-05 22:46:05
 DateofRegistration | 2004-01-01
-RECORD 16--------------------------------
 price              | 10400
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 100000
 fuelType           | benzin
 brand              | volkswagen
 notRepairedDamage  | nein
 dateCreated        | 2016-04-01
 lastSeen           | 2016-04-05 16:45:49
 DateofRegistration | 2009-04-01
-RECORD 17--------------------------------
 price              | 3699
 vehicleType        | limousine
 gearbox            | automatik
 kilometer          | 150000
 fuelType           | benzin
 brand              | bmw
 notRepairedDamage  | nein
 dateCreated        | 2016-03-27
 lastSeen           | 2016-04-07 06:44:26
 DateofRegistration | 2002-07-01
-RECORD 18--------------------------------
 price              | 2900
 vehicleType        | null
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | opel
 notRepairedDamage  | nein
 dateCreated        | 2016-03-23
 lastSeen           | 2016-03-31 01:16:33
 DateofRegistration | 2018-05-01
-RECORD 19--------------------------------
 price              | 2500
 vehicleType        | kombi
 gearbox            | automatik
 kilometer          | 150000
 fuelType           | diesel
 brand              | bmw
 notRepairedDamage  | ja
 dateCreated        | 2016-03-18
 lastSeen           | 2016-03-18 21:44:09
 DateofRegistration | 2002-09-01
only showing top 20 rows

In [17]:
DateDiff = datediff(sf.col("dateCreated"),sf.col("DateofRegistration"))/365
autos_DF = autos_DF.withColumn('AgeofCar_inyears', DateDiff)
autos_DF = autos_DF.withColumn('AgeofCar_inyears', sf.round('AgeofCar_inyears', 2))
autos_DF.show(n=20, truncate=False, vertical=True)

-RECORD 0---------------------------------
 price              | 18300
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 125000
 fuelType           | diesel
 brand              | audi
 notRepairedDamage  | ja
 dateCreated        | 2016-03-24
 lastSeen           | 2016-04-07 01:46:50
 DateofRegistration | 2011-05-01
 AgeofCar_inyears   | 4.9
-RECORD 1---------------------------------
 price              | 9800
 vehicleType        | suv
 gearbox            | automatik
 kilometer          | 125000
 fuelType           | diesel
 brand              | jeep
 notRepairedDamage  | null
 dateCreated        | 2016-03-14
 lastSeen           | 2016-04-05 12:47:46
 DateofRegistration | 2004-08-01
 AgeofCar_inyears   | 11.62
-RECORD 2---------------------------------
 price              | 1500
 vehicleType        | kleinwagen
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | volkswagen
 notRepairedDamage  | nein
 dateCreated        | 2016-03-17
 lastSeen           | 2016-03-17 17:40:17
 DateofRegistration | 2001-06-01
 AgeofCar_inyears   | 14.8
-RECORD 3---------------------------------
 price              | 3600
 vehicleType        | kleinwagen
 gearbox            | manuell
 kilometer          | 90000
 fuelType           | diesel
 brand              | skoda
 notRepairedDamage  | nein
 dateCreated        | 2016-03-31
 lastSeen           | 2016-04-06 10:17:21
 DateofRegistration | 2008-07-01
 AgeofCar_inyears   | 7.75
-RECORD 4---------------------------------
 price              | 650
 vehicleType        | limousine
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | bmw
 notRepairedDamage  | ja
 dateCreated        | 2016-04-04
 lastSeen           | 2016-04-06 19:17:07
 DateofRegistration | 1995-10-01
 AgeofCar_inyears   | 20.52
-RECORD 5---------------------------------
 price              | 2200
 vehicleType        | cabrio
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | peugeot
 notRepairedDamage  | nein
 dateCreated        | 2016-04-01
 lastSeen           | 2016-04-05 18:18:39
 DateofRegistration | 2004-08-01
 AgeofCar_inyears   | 11.67
-RECORD 6---------------------------------
 price              | 14500
 vehicleType        | bus
 gearbox            | manuell
 kilometer          | 30000
 fuelType           | benzin
 brand              | ford
 notRepairedDamage  | null
 dateCreated        | 2016-04-04
 lastSeen           | 2016-04-04 23:42:13
 DateofRegistration | 2014-08-01
 AgeofCar_inyears   | 1.68
-RECORD 7---------------------------------
 price              | 999
 vehicleType        | kleinwagen
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | null
 brand              | volkswagen
 notRepairedDamage  | null
 dateCreated        | 2016-03-17
 lastSeen           | 2016-03-31 17:17:06
 DateofRegistration | null
 AgeofCar_inyears   | null
-RECORD 8---------------------------------
 price              | 2000
 vehicleType        | limousine
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | mazda
 notRepairedDamage  | nein
 dateCreated        | 2016-03-26
 lastSeen           | 2016-04-06 10:45:34
 DateofRegistration | 2004-12-01
 AgeofCar_inyears   | 11.32
-RECORD 9---------------------------------
 price              | 2799
 vehicleType        | kombi
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | diesel
 brand              | volkswagen
 notRepairedDamage  | ja
 dateCreated        | 2016-04-07
 lastSeen           | 2016-04-07 10:25:17
 DateofRegistration | 2005-12-01
 AgeofCar_inyears   | 10.36
-RECORD 10--------------------------------
 price              | 999
 vehicleType        | kombi
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | volkswagen
 notRepairedDamage  | null
 dateCreated        | 2016-03-15
 lastSeen           | 2016-04-01 13:16:16
 DateofRegistration | 1995-11-01
 AgeofCar_inyears   | 20.38
-RECORD 11--------------------------------
 price              | 2500
 vehicleType        | kombi
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | null
 brand              | volkswagen
 notRepairedDamage  | nein
 dateCreated        | 2016-03-21
 lastSeen           | 2016-03-23 02:50:54
 DateofRegistration | 2004-02-01
 AgeofCar_inyears   | 12.14
-RECORD 12--------------------------------
 price              | 17999
 vehicleType        | suv
 gearbox            | manuell
 kilometer          | 70000
 fuelType           | diesel
 brand              | nissan
 notRepairedDamage  | nein
 dateCreated        | 2016-03-21
 lastSeen           | 2016-04-06 07:45:42
 DateofRegistration | 2011-03-01
 AgeofCar_inyears   | 5.06
-RECORD 13--------------------------------
 price              | 1750
 vehicleType        | kleinwagen
 gearbox            | automatik
 kilometer          | 150000
 fuelType           | benzin
 brand              | renault
 notRepairedDamage  | nein
 dateCreated        | 2016-03-20
 lastSeen           | 2016-04-06 13:16:07
 DateofRegistration | 2004-02-01
 AgeofCar_inyears   | 12.14
-RECORD 14--------------------------------
 price              | 7550
 vehicleType        | bus
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | diesel
 brand              | ford
 notRepairedDamage  | nein
 dateCreated        | 2016-03-23
 lastSeen           | 2016-04-05 18:45:11
 DateofRegistration | 2007-06-01
 AgeofCar_inyears   | 8.82
-RECORD 15--------------------------------
 price              | 1850
 vehicleType        | bus
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | mercedes_benz
 notRepairedDamage  | nein
 dateCreated        | 2016-04-01
 lastSeen           | 2016-04-05 22:46:05
 DateofRegistration | 2004-01-01
 AgeofCar_inyears   | 12.26
-RECORD 16--------------------------------
 price              | 10400
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 100000
 fuelType           | benzin
 brand              | volkswagen
 notRepairedDamage  | nein
 dateCreated        | 2016-04-01
 lastSeen           | 2016-04-05 16:45:49
 DateofRegistration | 2009-04-01
 AgeofCar_inyears   | 7.01
-RECORD 17--------------------------------
 price              | 3699
 vehicleType        | limousine
 gearbox            | automatik
 kilometer          | 150000
 fuelType           | benzin
 brand              | bmw
 notRepairedDamage  | nein
 dateCreated        | 2016-03-27
 lastSeen           | 2016-04-07 06:44:26
 DateofRegistration | 2002-07-01
 AgeofCar_inyears   | 13.75
-RECORD 18--------------------------------
 price              | 2900
 vehicleType        | null
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | opel
 notRepairedDamage  | nein
 dateCreated        | 2016-03-23
 lastSeen           | 2016-03-31 01:16:33
 DateofRegistration | 2018-05-01
 AgeofCar_inyears   | -2.11
-RECORD 19--------------------------------
 price              | 2500
 vehicleType        | kombi
 gearbox            | automatik
 kilometer          | 150000
 fuelType           | diesel
 brand              | bmw
 notRepairedDamage  | ja
 dateCreated        | 2016-03-18
 lastSeen           | 2016-03-18 21:44:09
 DateofRegistration | 2002-09-01
 AgeofCar_inyears   | 13.55
only showing top 20 rows

##### C. Time of ad online

In [18]:
DateDiff = datediff(sf.col("lastSeen"),sf.col("dateCreated"))
autos_DF = autos_DF.withColumn('Timeonline_indays', DateDiff)
autos_DF.show(n=20, truncate=False, vertical=True)

-RECORD 0---------------------------------
 price              | 18300
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 125000
 fuelType           | diesel
 brand              | audi
 notRepairedDamage  | ja
 dateCreated        | 2016-03-24
 lastSeen           | 2016-04-07 01:46:50
 DateofRegistration | 2011-05-01
 AgeofCar_inyears   | 4.9
 Timeonline_indays  | 14
-RECORD 1---------------------------------
 price              | 9800
 vehicleType        | suv
 gearbox            | automatik
 kilometer          | 125000
 fuelType           | diesel
 brand              | jeep
 notRepairedDamage  | null
 dateCreated        | 2016-03-14
 lastSeen           | 2016-04-05 12:47:46
 DateofRegistration | 2004-08-01
 AgeofCar_inyears   | 11.62
 Timeonline_indays  | 22
-RECORD 2---------------------------------
 price              | 1500
 vehicleType        | kleinwagen
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | volkswagen
 notRepairedDamage  | nein
 dateCreated        | 2016-03-17
 lastSeen           | 2016-03-17 17:40:17
 DateofRegistration | 2001-06-01
 AgeofCar_inyears   | 14.8
 Timeonline_indays  | 0
-RECORD 3---------------------------------
 price              | 3600
 vehicleType        | kleinwagen
 gearbox            | manuell
 kilometer          | 90000
 fuelType           | diesel
 brand              | skoda
 notRepairedDamage  | nein
 dateCreated        | 2016-03-31
 lastSeen           | 2016-04-06 10:17:21
 DateofRegistration | 2008-07-01
 AgeofCar_inyears   | 7.75
 Timeonline_indays  | 6
-RECORD 4---------------------------------
 price              | 650
 vehicleType        | limousine
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | bmw
 notRepairedDamage  | ja
 dateCreated        | 2016-04-04
 lastSeen           | 2016-04-06 19:17:07
 DateofRegistration | 1995-10-01
 AgeofCar_inyears   | 20.52
 Timeonline_indays  | 2
-RECORD 5---------------------------------
 price              | 2200
 vehicleType        | cabrio
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | peugeot
 notRepairedDamage  | nein
 dateCreated        | 2016-04-01
 lastSeen           | 2016-04-05 18:18:39
 DateofRegistration | 2004-08-01
 AgeofCar_inyears   | 11.67
 Timeonline_indays  | 4
-RECORD 6---------------------------------
 price              | 14500
 vehicleType        | bus
 gearbox            | manuell
 kilometer          | 30000
 fuelType           | benzin
 brand              | ford
 notRepairedDamage  | null
 dateCreated        | 2016-04-04
 lastSeen           | 2016-04-04 23:42:13
 DateofRegistration | 2014-08-01
 AgeofCar_inyears   | 1.68
 Timeonline_indays  | 0
-RECORD 7---------------------------------
 price              | 999
 vehicleType        | kleinwagen
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | null
 brand              | volkswagen
 notRepairedDamage  | null
 dateCreated        | 2016-03-17
 lastSeen           | 2016-03-31 17:17:06
 DateofRegistration | null
 AgeofCar_inyears   | null
 Timeonline_indays  | 14
-RECORD 8---------------------------------
 price              | 2000
 vehicleType        | limousine
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | mazda
 notRepairedDamage  | nein
 dateCreated        | 2016-03-26
 lastSeen           | 2016-04-06 10:45:34
 DateofRegistration | 2004-12-01
 AgeofCar_inyears   | 11.32
 Timeonline_indays  | 11
-RECORD 9---------------------------------
 price              | 2799
 vehicleType        | kombi
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | diesel
 brand              | volkswagen
 notRepairedDamage  | ja
 dateCreated        | 2016-04-07
 lastSeen           | 2016-04-07 10:25:17
 DateofRegistration | 2005-12-01
 AgeofCar_inyears   | 10.36
 Timeonline_indays  | 0
-RECORD 10--------------------------------
 price              | 999
 vehicleType        | kombi
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | volkswagen
 notRepairedDamage  | null
 dateCreated        | 2016-03-15
 lastSeen           | 2016-04-01 13:16:16
 DateofRegistration | 1995-11-01
 AgeofCar_inyears   | 20.38
 Timeonline_indays  | 17
-RECORD 11--------------------------------
 price              | 2500
 vehicleType        | kombi
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | null
 brand              | volkswagen
 notRepairedDamage  | nein
 dateCreated        | 2016-03-21
 lastSeen           | 2016-03-23 02:50:54
 DateofRegistration | 2004-02-01
 AgeofCar_inyears   | 12.14
 Timeonline_indays  | 2
-RECORD 12--------------------------------
 price              | 17999
 vehicleType        | suv
 gearbox            | manuell
 kilometer          | 70000
 fuelType           | diesel
 brand              | nissan
 notRepairedDamage  | nein
 dateCreated        | 2016-03-21
 lastSeen           | 2016-04-06 07:45:42
 DateofRegistration | 2011-03-01
 AgeofCar_inyears   | 5.06
 Timeonline_indays  | 16
-RECORD 13--------------------------------
 price              | 1750
 vehicleType        | kleinwagen
 gearbox            | automatik
 kilometer          | 150000
 fuelType           | benzin
 brand              | renault
 notRepairedDamage  | nein
 dateCreated        | 2016-03-20
 lastSeen           | 2016-04-06 13:16:07
 DateofRegistration | 2004-02-01
 AgeofCar_inyears   | 12.14
 Timeonline_indays  | 17
-RECORD 14--------------------------------
 price              | 7550
 vehicleType        | bus
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | diesel
 brand              | ford
 notRepairedDamage  | nein
 dateCreated        | 2016-03-23
 lastSeen           | 2016-04-05 18:45:11
 DateofRegistration | 2007-06-01
 AgeofCar_inyears   | 8.82
 Timeonline_indays  | 13
-RECORD 15--------------------------------
 price              | 1850
 vehicleType        | bus
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | mercedes_benz
 notRepairedDamage  | nein
 dateCreated        | 2016-04-01
 lastSeen           | 2016-04-05 22:46:05
 DateofRegistration | 2004-01-01
 AgeofCar_inyears   | 12.26
 Timeonline_indays  | 4
-RECORD 16--------------------------------
 price              | 10400
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 100000
 fuelType           | benzin
 brand              | volkswagen
 notRepairedDamage  | nein
 dateCreated        | 2016-04-01
 lastSeen           | 2016-04-05 16:45:49
 DateofRegistration | 2009-04-01
 AgeofCar_inyears   | 7.01
 Timeonline_indays  | 4
-RECORD 17--------------------------------
 price              | 3699
 vehicleType        | limousine
 gearbox            | automatik
 kilometer          | 150000
 fuelType           | benzin
 brand              | bmw
 notRepairedDamage  | nein
 dateCreated        | 2016-03-27
 lastSeen           | 2016-04-07 06:44:26
 DateofRegistration | 2002-07-01
 AgeofCar_inyears   | 13.75
 Timeonline_indays  | 11
-RECORD 18--------------------------------
 price              | 2900
 vehicleType        | null
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | opel
 notRepairedDamage  | nein
 dateCreated        | 2016-03-23
 lastSeen           | 2016-03-31 01:16:33
 DateofRegistration | 2018-05-01
 AgeofCar_inyears   | -2.11
 Timeonline_indays  | 8
-RECORD 19--------------------------------
 price              | 2500
 vehicleType        | kombi
 gearbox            | automatik
 kilometer          | 150000
 fuelType           | diesel
 brand              | bmw
 notRepairedDamage  | ja
 dateCreated        | 2016-03-18
 lastSeen           | 2016-03-18 21:44:09
 DateofRegistration | 2002-09-01
 AgeofCar_inyears   | 13.55
 Timeonline_indays  | 0
only showing top 20 rows

## 7. Working with NAs
##### A. Checking for NAs

In [19]:
print("Checking for nulls on columns :")
autos_DF.select([count(when(sf.col(c).isNull(), c)).alias(c) for c in ["price","vehicleType","gearbox",\
            "kilometer", "fuelType","brand","notRepairedDamage", "DateofRegistration", "AgeofCar_inyears"]]).show()

Checking for nulls on columns :
+-----+-----------+-------+---------+--------+-----+-----------------+------------------+----------------+
|price|vehicleType|gearbox|kilometer|fuelType|brand|notRepairedDamage|DateofRegistration|AgeofCar_inyears|
+-----+-----------+-------+---------+--------+-----+-----------------+------------------+----------------+
|    0|      26501|  13138|        0|   22914|    0|            53828|             23930|           23930|
+-----+-----------+-------+---------+--------+-----+-----------------+------------------+----------------+

##### B. Removing NAs

In [20]:
autos_DF = autos_DF.na.drop(how='any')

In [21]:
print("Checking for nulls on columns :")
autos_DF.select([count(when(sf.col(c).isNull(), c)).alias(c) for c in ["price","vehicleType","gearbox",\
            "kilometer", "fuelType","brand","notRepairedDamage", "DateofRegistration", "AgeofCar_inyears"]]).show()

Checking for nulls on columns :
+-----+-----------+-------+---------+--------+-----+-----------------+------------------+----------------+
|price|vehicleType|gearbox|kilometer|fuelType|brand|notRepairedDamage|DateofRegistration|AgeofCar_inyears|
+-----+-----------+-------+---------+--------+-----+-----------------+------------------+----------------+
|    0|          0|      0|        0|       0|    0|                0|                 0|               0|
+-----+-----------+-------+---------+--------+-----+-----------------+------------------+----------------+

##### C. Checking for newest cars

In [22]:
autos_DF.groupBy('AgeofCar_inyears').agg(count('AgeofCar_inyears').alias('count'))\
                                                                        .orderBy(asc('AgeofCar_inyears')).show()

+----------------+-----+
|AgeofCar_inyears|count|
+----------------+-----+
|           -2.73|    1|
|            -2.7|    1|
|           -2.15|    1|
|           -1.61|    1|
|           -1.36|    1|
|            -1.3|    1|
|           -1.22|    1|
|           -1.19|    1|
|           -1.15|    1|
|           -0.67|    2|
|           -0.45|    1|
|           -0.23|    1|
|           -0.08|    1|
|           -0.07|    1|
|           -0.05|    1|
|           -0.04|    1|
|           -0.01|    1|
|             0.0|   11|
|            0.01|   12|
|            0.02|   17|
+----------------+-----+
only showing top 20 rows

##### D. Removing ads where Age of Car < 0

In [23]:
autos_DF =autos_DF.where('AgeofCar_inyears > 0')

##### E. Number of Ads left

In [24]:
display(Markdown("After Filtering, the dataset will be made of **%d rows**." % autos_DF.count()))

After Filtering, the dataset will be made of **244702 rows**.

## 8. Overview of  price vs count
##### A. Checking  the Cheapest, Expensive, Most sold, Least sold brands

In [25]:
brands = autos_DF.groupBy("brand")\
                     .agg(avg('Price').alias("AveragePrice"),\
                          min('Price').alias("MinPrice"),\
                          max('Price').alias("MaxPrice"),\
                         count('brand').alias('Count'))


brands = brands.withColumn('AveragePrice', sf.round('AveragePrice', 2))

print("Checking amount of distinct brands:")
autos_DF.select(countDistinct("brand").alias('brands')).show()

print("Checking the total number of brands sold by increasing order:")
brands.select('brand','Count').orderBy(asc('count')).show()

print("Checking the total number of brands sold by decreasing order:")
brands.select('brand','Count').orderBy(desc('count')).show()

print ("Brands ordered by Decreasing of Average Price:")
brands.orderBy(desc("AveragePrice")).select("brand","AveragePrice", "MinPrice", "MaxPrice").show()

print ("Brands ordered by Increasing of Minimum Price:")
brands.orderBy(asc("MinPrice")).select("brand","AveragePrice", "MinPrice", "MaxPrice").show()

print ("Brands ordered by Decreasing of Maximum Price:")
brands.orderBy(desc("MaxPrice")).select("brand","AveragePrice", "MinPrice", "MaxPrice").show()

CountofBrands = brands.select('brand','Count').orderBy(desc('count'))
BrandRatio = CountofBrands.withColumn('Ratio', (col("Count")/(239314))*100)
BrandRatio = BrandRatio.withColumn('Ratio', sf.round('Ratio',2))


print("Checking ratio of brands by decreasing order:")
BrandRatio.orderBy(desc("Ratio")).show()

print("Checking ratio of brands by increasing order:")
BrandRatio.orderBy(asc("Ratio")).show()



print ("Summary of the above:")
HighestAveragePrice    = brands.orderBy(desc("AveragePrice")).first()
LowestAveragePrice     = brands.orderBy(asc("AveragePrice")).first()
Mostsold               = brands.orderBy(desc('count')).first()
Leastsold              = brands.orderBy(asc('count')).first()
Mostsoldratio          = BrandRatio.orderBy(desc("Ratio")).first()
Leastsoldratio         = BrandRatio.orderBy(asc("Ratio")).first()


display(Markdown("""
| %s | %s | %s | %s |
|----|----|----|----|
| %s | %s | %s | %s |
""" % ("Highest Average Price", "Lowest Average Price", "Most Sold Brand", "Least Sold Brand", \
       "%s (%s Euros)" % (HighestAveragePrice["brand"],HighestAveragePrice["AveragePrice"]), \
       "%s (%s Euros)" % (LowestAveragePrice["brand"],LowestAveragePrice["AveragePrice"]), \
       "%s (%s percent)" % (Mostsold["brand"], Mostsoldratio['Ratio'] ), \
       "%s (%s percent)" % (Leastsold["brand"], Leastsoldratio['Ratio']))))

Checking amount of distinct brands:
+------+
|brands|
+------+
|    40|
+------+

Checking the total number of brands sold by increasing order:
+----------+-----+
|     brand|Count|
+----------+-----+
|      lada|  136|
|   trabant|  164|
|     rover|  233|
|    lancia|  275|
|    daewoo|  279|
|      saab|  386|
|  daihatsu|  427|
|    jaguar|  475|
|    subaru|  484|
|      jeep|  602|
|land_rover|  626|
|     dacia|  720|
|  chrysler|  955|
| chevrolet| 1312|
|alfa_romeo| 1552|
|    suzuki| 1582|
|   porsche| 1715|
|     honda| 1797|
|mitsubishi| 1815|
|       kia| 1883|
+----------+-----+
only showing top 20 rows

Checking the total number of brands sold by decreasing order:
+--------------+-----+
|         brand|Count|
+--------------+-----+
|    volkswagen|50326|
|           bmw|29192|
| mercedes_benz|26173|
|          audi|23753|
|          opel|23167|
|          ford|15290|
|       renault|10116|
|       peugeot| 7323|
|          fiat| 5570|
|          seat| 4637|
|         skoda| 4454|
|         mazda| 3710|
|        toyota| 3628|
|       citroen| 3460|
|         smart| 3299|
|        nissan| 3273|
|          mini| 2853|
|       hyundai| 2721|
|         volvo| 2377|
|sonstige_autos| 1962|
+--------------+-----+
only showing top 20 rows

Brands ordered by Decreasing of Average Price:
+--------------+------------+--------+--------+
|         brand|AveragePrice|MinPrice|MaxPrice|
+--------------+------------+--------+--------+
|       porsche|    35776.57|     950|   99999|
|    land_rover|    18344.45|     999|   99000|
|sonstige_autos|    15141.15|     550|   99900|
|        jaguar|    13020.51|     650|   99000|
|          jeep|    12065.09|     650|   59800|
|          mini|    10494.28|     519|   45000|
|          audi|    10459.97|     510|   99900|
|           bmw|     9515.27|     510|   92500|
| mercedes_benz|     9334.18|     530|   99900|
|     chevrolet|     7332.34|     549|   90500|
|         skoda|     7099.88|     550|   39999|
|    volkswagen|     6574.87|     510|   85000|
|           kia|     6550.66|     514|   43900|
|         volvo|     6225.91|     520|   65400|
|       hyundai|     6206.43|     550|   35999|
|         dacia|      6126.3|     600|   17500|
|        nissan|     5813.33|     530|   99999|
|        toyota|     5707.71|     550|   62900|
|        subaru|     5661.52|     525|   38333|
|          seat|     5455.81|     525|   35500|
+--------------+------------+--------+--------+
only showing top 20 rows

Brands ordered by Increasing of Minimum Price:
+----------+------------+--------+--------+
|     brand|AveragePrice|MinPrice|MaxPrice|
+----------+------------+--------+--------+
|   renault|     3175.22|     501|   93000|
|      opel|     3798.69|     501|   39000|
|     honda|     4814.98|     510|   48500|
|      ford|     4758.67|     510|   73500|
|       bmw|     9515.27|     510|   92500|
|mitsubishi|     4323.54|     510|   41899|
|      audi|    10459.97|     510|   99900|
|volkswagen|     6574.87|     510|   85000|
|       kia|     6550.66|     514|   43900|
|   citroen|     4330.19|     515|   38888|
|      mini|    10494.28|     519|   45000|
|    suzuki|     4765.57|     520|   23200|
|   peugeot|     3902.48|     520|   31500|
|alfa_romeo|     5072.24|     520|   73000|
|     volvo|     6225.91|     520|   65400|
|      seat|     5455.81|     525|   35500|
|    subaru|     5661.52|     525|   38333|
|      fiat|     3709.32|     525|   46990|
|    nissan|     5813.33|     530|   99999|
|      saab|     4586.76|     530|   29900|
+----------+------------+--------+--------+
only showing top 20 rows

Brands ordered by Decreasing of Maximum Price:
+--------------+------------+--------+--------+
|         brand|AveragePrice|MinPrice|MaxPrice|
+--------------+------------+--------+--------+
|       porsche|    35776.57|     950|   99999|
|         smart|     4018.84|     550|   99999|
|        nissan|     5813.33|     530|   99999|
| mercedes_benz|     9334.18|     530|   99900|
|          audi|    10459.97|     510|   99900|
|sonstige_autos|    15141.15|     550|   99900|
|    land_rover|    18344.45|     999|   99000|
|        jaguar|    13020.51|     650|   99000|
|       renault|     3175.22|     501|   93000|
|           bmw|     9515.27|     510|   92500|
|     chevrolet|     7332.34|     549|   90500|
|    volkswagen|     6574.87|     510|   85000|
|          ford|     4758.67|     510|   73500|
|    alfa_romeo|     5072.24|     520|   73000|
|         volvo|     6225.91|     520|   65400|
|        lancia|     4269.15|     549|   64000|
|        toyota|     5707.71|     550|   62900|
|          jeep|    12065.09|     650|   59800|
|         honda|     4814.98|     510|   48500|
|          fiat|     3709.32|     525|   46990|
+--------------+------------+--------+--------+
only showing top 20 rows

Checking ratio of brands by decreasing order:
+--------------+-----+-----+
|         brand|Count|Ratio|
+--------------+-----+-----+
|    volkswagen|50326|21.03|
|           bmw|29192| 12.2|
| mercedes_benz|26173|10.94|
|          audi|23753| 9.93|
|          opel|23167| 9.68|
|          ford|15290| 6.39|
|       renault|10116| 4.23|
|       peugeot| 7323| 3.06|
|          fiat| 5570| 2.33|
|          seat| 4637| 1.94|
|         skoda| 4454| 1.86|
|         mazda| 3710| 1.55|
|        toyota| 3628| 1.52|
|       citroen| 3460| 1.45|
|         smart| 3299| 1.38|
|        nissan| 3273| 1.37|
|          mini| 2853| 1.19|
|       hyundai| 2721| 1.14|
|         volvo| 2377| 0.99|
|sonstige_autos| 1962| 0.82|
+--------------+-----+-----+
only showing top 20 rows

Checking ratio of brands by increasing order:
+----------+-----+-----+
|     brand|Count|Ratio|
+----------+-----+-----+
|      lada|  136| 0.06|
|   trabant|  164| 0.07|
|     rover|  233|  0.1|
|    lancia|  275| 0.11|
|    daewoo|  279| 0.12|
|      saab|  386| 0.16|
|  daihatsu|  427| 0.18|
|    jaguar|  475|  0.2|
|    subaru|  484|  0.2|
|      jeep|  602| 0.25|
|land_rover|  626| 0.26|
|     dacia|  720|  0.3|
|  chrysler|  955|  0.4|
| chevrolet| 1312| 0.55|
|alfa_romeo| 1552| 0.65|
|    suzuki| 1582| 0.66|
|   porsche| 1715| 0.72|
|     honda| 1797| 0.75|
|mitsubishi| 1815| 0.76|
|       kia| 1883| 0.79|
+----------+-----+-----+
only showing top 20 rows

Summary of the above:

| Highest Average Price | Lowest Average Price | Most Sold Brand | Least Sold Brand |
|----|----|----|----|
| porsche (35776.57 Euros) | daewoo (1302.82 Euros) | volkswagen (21.03 percent) | lada (0.06 percent) |

##### B.  Filtering illogical high prices of cars

In [26]:
autos_DF = autos_DF.where("not (brand = 'nissan' and price = 99999)").where("not (brand = 'renault' and price = 93000)")\
.where("not (brand = 'smart' and price = 99999)")
autos_DF.orderBy(desc("Price")).limit(30).show(truncate=False, vertical=True)

-RECORD 0---------------------------------
 price              | 99999
 vehicleType        | cabrio
 gearbox            | automatik
 kilometer          | 20000
 fuelType           | benzin
 brand              | porsche
 notRepairedDamage  | nein
 dateCreated        | 2016-03-10
 lastSeen           | 2016-04-07 12:15:22
 DateofRegistration | 2013-07-01
 AgeofCar_inyears   | 2.69
 Timeonline_indays  | 28
-RECORD 1---------------------------------
 price              | 99999
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 150000
 fuelType           | benzin
 brand              | porsche
 notRepairedDamage  | ja
 dateCreated        | 2016-03-25
 lastSeen           | 2016-04-06 14:44:52
 DateofRegistration | 2004-06-01
 AgeofCar_inyears   | 11.82
 Timeonline_indays  | 12
-RECORD 2---------------------------------
 price              | 99990
 vehicleType        | andere
 gearbox            | manuell
 kilometer          | 50000
 fuelType           | benzin
 brand              | porsche
 notRepairedDamage  | nein
 dateCreated        | 2016-03-14
 lastSeen           | 2016-04-05 18:45:08
 DateofRegistration | 2004-05-01
 AgeofCar_inyears   | 11.88
 Timeonline_indays  | 22
-RECORD 3---------------------------------
 price              | 99990
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 50000
 fuelType           | benzin
 brand              | porsche
 notRepairedDamage  | nein
 dateCreated        | 2016-03-15
 lastSeen           | 2016-04-05 23:18:09
 DateofRegistration | 2004-05-01
 AgeofCar_inyears   | 11.88
 Timeonline_indays  | 21
-RECORD 4---------------------------------
 price              | 99911
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 125000
 fuelType           | benzin
 brand              | porsche
 notRepairedDamage  | nein
 dateCreated        | 2016-03-28
 lastSeen           | 2016-04-06 20:45:52
 DateofRegistration | 1987-12-01
 AgeofCar_inyears   | 28.34
 Timeonline_indays  | 9
-RECORD 5---------------------------------
 price              | 99900
 vehicleType        | cabrio
 gearbox            | automatik
 kilometer          | 100000
 fuelType           | benzin
 brand              | mercedes_benz
 notRepairedDamage  | nein
 dateCreated        | 2016-03-15
 lastSeen           | 2016-03-17 04:15:23
 DateofRegistration | 2006-07-01
 AgeofCar_inyears   | 9.71
 Timeonline_indays  | 2
-RECORD 6---------------------------------
 price              | 99900
 vehicleType        | cabrio
 gearbox            | automatik
 kilometer          | 30000
 fuelType           | benzin
 brand              | audi
 notRepairedDamage  | nein
 dateCreated        | 2016-03-14
 lastSeen           | 2016-04-07 11:44:20
 DateofRegistration | 2013-06-01
 AgeofCar_inyears   | 2.79
 Timeonline_indays  | 24
-RECORD 7---------------------------------
 price              | 99900
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 70000
 fuelType           | benzin
 brand              | sonstige_autos
 notRepairedDamage  | nein
 dateCreated        | 2016-03-28
 lastSeen           | 2016-04-07 05:44:57
 DateofRegistration | 1998-07-01
 AgeofCar_inyears   | 17.75
 Timeonline_indays  | 10
-RECORD 8---------------------------------
 price              | 99900
 vehicleType        | cabrio
 gearbox            | manuell
 kilometer          | 80000
 fuelType           | benzin
 brand              | porsche
 notRepairedDamage  | nein
 dateCreated        | 2016-03-25
 lastSeen           | 2016-04-07 00:46:00
 DateofRegistration | 1995-06-01
 AgeofCar_inyears   | 20.83
 Timeonline_indays  | 13
-RECORD 9---------------------------------
 price              | 99500
 vehicleType        | cabrio
 gearbox            | manuell
 kilometer          | 5000
 fuelType           | benzin
 brand              | porsche
 notRepairedDamage  | nein
 dateCreated        | 2016-03-29
 lastSeen           | 2016-04-03 09:45:34
 DateofRegistration | 1973-01-01
 AgeofCar_inyears   | 43.27
 Timeonline_indays  | 5
-RECORD 10--------------------------------
 price              | 99500
 vehicleType        | cabrio
 gearbox            | manuell
 kilometer          | 5000
 fuelType           | benzin
 brand              | mercedes_benz
 notRepairedDamage  | nein
 dateCreated        | 2016-04-03
 lastSeen           | 2016-04-05 23:44:44
 DateofRegistration | 1964-04-01
 AgeofCar_inyears   | 52.04
 Timeonline_indays  | 2
-RECORD 11--------------------------------
 price              | 99000
 vehicleType        | cabrio
 gearbox            | automatik
 kilometer          | 30000
 fuelType           | benzin
 brand              | mercedes_benz
 notRepairedDamage  | nein
 dateCreated        | 2016-03-27
 lastSeen           | 2016-04-05 19:45:30
 DateofRegistration | 1966-07-01
 AgeofCar_inyears   | 49.77
 Timeonline_indays  | 9
-RECORD 12--------------------------------
 price              | 99000
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 60000
 fuelType           | benzin
 brand              | porsche
 notRepairedDamage  | nein
 dateCreated        | 2016-03-16
 lastSeen           | 2016-03-16 20:37:40
 DateofRegistration | 1997-06-01
 AgeofCar_inyears   | 18.8
 Timeonline_indays  | 0
-RECORD 13--------------------------------
 price              | 99000
 vehicleType        | suv
 gearbox            | automatik
 kilometer          | 150000
 fuelType           | diesel
 brand              | land_rover
 notRepairedDamage  | nein
 dateCreated        | 2016-03-06
 lastSeen           | 2016-04-07 10:46:41
 DateofRegistration | 2004-06-01
 AgeofCar_inyears   | 11.77
 Timeonline_indays  | 32
-RECORD 14--------------------------------
 price              | 99000
 vehicleType        | suv
 gearbox            | automatik
 kilometer          | 30000
 fuelType           | diesel
 brand              | mercedes_benz
 notRepairedDamage  | nein
 dateCreated        | 2016-03-21
 lastSeen           | 2016-04-06 21:47:08
 DateofRegistration | 2011-06-01
 AgeofCar_inyears   | 4.81
 Timeonline_indays  | 16
-RECORD 15--------------------------------
 price              | 99000
 vehicleType        | cabrio
 gearbox            | manuell
 kilometer          | 20000
 fuelType           | benzin
 brand              | jaguar
 notRepairedDamage  | nein
 dateCreated        | 2016-03-24
 lastSeen           | 2016-04-07 07:44:20
 DateofRegistration | 1973-07-01
 AgeofCar_inyears   | 42.76
 Timeonline_indays  | 14
-RECORD 16--------------------------------
 price              | 99000
 vehicleType        | suv
 gearbox            | automatik
 kilometer          | 40000
 fuelType           | benzin
 brand              | mercedes_benz
 notRepairedDamage  | nein
 dateCreated        | 2016-03-09
 lastSeen           | 2016-03-26 04:18:18
 DateofRegistration | 2014-01-01
 AgeofCar_inyears   | 2.19
 Timeonline_indays  | 17
-RECORD 17--------------------------------
 price              | 98500
 vehicleType        | cabrio
 gearbox            | automatik
 kilometer          | 50000
 fuelType           | benzin
 brand              | porsche
 notRepairedDamage  | nein
 dateCreated        | 2016-03-15
 lastSeen           | 2016-04-06 12:17:04
 DateofRegistration | 2013-11-01
 AgeofCar_inyears   | 2.37
 Timeonline_indays  | 22
-RECORD 18--------------------------------
 price              | 98500
 vehicleType        | cabrio
 gearbox            | automatik
 kilometer          | 20000
 fuelType           | benzin
 brand              | audi
 notRepairedDamage  | nein
 dateCreated        | 2016-03-28
 lastSeen           | 2016-04-06 12:44:25
 DateofRegistration | 2013-07-01
 AgeofCar_inyears   | 2.74
 Timeonline_indays  | 9
-RECORD 19--------------------------------
 price              | 98000
 vehicleType        | coupe
 gearbox            | manuell
 kilometer          | 60000
 fuelType           | benzin
 brand              | sonstige_autos
 notRepairedDamage  | nein
 dateCreated        | 2016-04-04
 lastSeen           | 2016-04-07 02:17:12
 DateofRegistration | 1984-07-01
 AgeofCar_inyears   | 31.78
 Timeonline_indays  | 3
only showing top 20 rows

## 9. Overview of Timeonline vs Kilometers
#### A. Checking for Least and Most car online and distance covered

In [27]:
Timeonline_vs_Kilometer = autos_DF.groupBy('brand').agg(avg('Timeonline_indays').alias('AverageTimeonline'),\
                                                  avg('kilometer').alias('AverageKilometer'))


Timeonline_vs_Kilometer = Timeonline_vs_Kilometer.withColumn('AverageTimeonline', sf.round('AverageTimeonline', 2))
Timeonline_vs_Kilometer = Timeonline_vs_Kilometer.withColumn('AverageKilometer', sf.round('AverageKilometer', 2))

print("Checking average time of the brands kept online by decreasing order:")
Timeonline_vs_Kilometer.orderBy(desc("AverageTimeonline")).show()

print("Checking average time of a brand kept online by increasing order:")
Timeonline_vs_Kilometer.orderBy(asc("AverageTimeonline")).show()

print ("Summary of kilometer:")
autos_DF.select("kilometer").summary().show()

print ("Brands ordered by Decreasing of Average Distance covered:")
Timeonline_vs_Kilometer.orderBy(desc('AverageKilometer')).show()

print ("Brands ordered by Increasing of Average Distance covered:")
Timeonline_vs_Kilometer.orderBy(asc('AverageKilometer')).show()


LeastOnlineCar    = Timeonline_vs_Kilometer.orderBy(col("AverageTimeonline").asc()).first()
MostOnlineCar     = Timeonline_vs_Kilometer.orderBy(col("AverageTimeonline").desc()).first()
LeastCarDriven     = Timeonline_vs_Kilometer.orderBy(col("AverageKilometer").asc()).first()
MostCarDriven      = Timeonline_vs_Kilometer.orderBy(desc('AverageKilometer')).first()


print ("Summary of the above:")

display(Markdown("""
| %s | %s | %s | %s |
|----|----|----|----|
| %s | %s | %s | %s |
""" % ("Least Car Online", "Most Car Online", "Least Car Driven", "Most Car Driven", \
       "%s" % (LeastOnlineCar["brand"]), \
       "%s" % (MostOnlineCar["brand"]), \
       "%s" % (LeastCarDriven["brand"]), \
       "%s" % (MostCarDriven["brand"]))))

Checking average time of the brands kept online by decreasing order:
+--------------+-----------------+----------------+
|         brand|AverageTimeonline|AverageKilometer|
+--------------+-----------------+----------------+
|        jaguar|            11.32|       123178.95|
|        lancia|             11.2|       119963.64|
|sonstige_autos|            11.12|        93165.14|
|        subaru|            10.81|       122809.92|
|          mini|            10.58|        91992.64|
|          saab|            10.44|       141476.68|
|    land_rover|            10.38|       117867.41|
|    alfa_romeo|            10.32|       126459.41|
|         volvo|            10.08|        136870.0|
|       porsche|            10.04|       103373.18|
|          jeep|             9.86|       119368.77|
|         rover|              9.8|       133669.53|
|          audi|             9.79|        126615.8|
|     chevrolet|             9.73|        97995.43|
|         honda|             9.72|       122223.15|
|      daihatsu|             9.71|       114625.29|
|          lada|             9.67|        72132.35|
|           bmw|             9.51|       131487.22|
|          seat|             9.49|       115988.79|
|         skoda|             9.48|       111541.31|
+--------------+-----------------+----------------+
only showing top 20 rows

Checking average time of a brand kept online by increasing order:
+-------------+-----------------+----------------+
|        brand|AverageTimeonline|AverageKilometer|
+-------------+-----------------+----------------+
|       daewoo|             8.42|       120752.69|
|         opel|             8.76|        125285.1|
|         ford|              8.8|       120706.34|
|      renault|             9.04|        123538.8|
|       toyota|             9.07|        115359.7|
|   volkswagen|              9.1|       125141.68|
|       nissan|             9.14|       114964.85|
|      peugeot|             9.15|       120816.61|
|        dacia|             9.15|        84534.72|
|      citroen|             9.23|       117547.69|
|         fiat|             9.28|       110840.22|
|      trabant|             9.29|        54451.22|
|        mazda|             9.31|       121911.05|
|       suzuki|             9.31|       103915.93|
|          kia|             9.37|       105246.95|
|        smart|             9.38|        95583.69|
|   mitsubishi|             9.43|       122922.87|
|     chrysler|             9.44|       133952.88|
|mercedes_benz|             9.45|       129423.26|
|      hyundai|             9.45|       100701.95|
+-------------+-----------------+----------------+
only showing top 20 rows

Summary of kilometer:
+-------+------------------+
|summary|         kilometer|
+-------+------------------+
|  count|            244699|
|   mean|122840.95970968415|
| stddev|40321.178030001625|
|    min|              5000|
|    25%|            100000|
|    50%|            150000|
|    75%|            150000|
|    max|            150000|
+-------+------------------+

Brands ordered by Decreasing of Average Distance covered:
+-------------+-----------------+----------------+
|        brand|AverageTimeonline|AverageKilometer|
+-------------+-----------------+----------------+
|         saab|            10.44|       141476.68|
|        volvo|            10.08|        136870.0|
|     chrysler|             9.44|       133952.88|
|        rover|              9.8|       133669.53|
|          bmw|             9.51|       131487.22|
|mercedes_benz|             9.45|       129423.26|
|         audi|             9.79|        126615.8|
|   alfa_romeo|            10.32|       126459.41|
|         opel|             8.76|        125285.1|
|   volkswagen|              9.1|       125141.68|
|      renault|             9.04|        123538.8|
|       jaguar|            11.32|       123178.95|
|   mitsubishi|             9.43|       122922.87|
|       subaru|            10.81|       122809.92|
|        honda|             9.72|       122223.15|
|        mazda|             9.31|       121911.05|
|      peugeot|             9.15|       120816.61|
|       daewoo|             8.42|       120752.69|
|         ford|              8.8|       120706.34|
|       lancia|             11.2|       119963.64|
+-------------+-----------------+----------------+
only showing top 20 rows

Brands ordered by Increasing of Average Distance covered:
+--------------+-----------------+----------------+
|         brand|AverageTimeonline|AverageKilometer|
+--------------+-----------------+----------------+
|       trabant|             9.29|        54451.22|
|          lada|             9.67|        72132.35|
|         dacia|             9.15|        84534.72|
|          mini|            10.58|        91992.64|
|sonstige_autos|            11.12|        93165.14|
|         smart|             9.38|        95583.69|
|     chevrolet|             9.73|        97995.43|
|       hyundai|             9.45|       100701.95|
|       porsche|            10.04|       103373.18|
|        suzuki|             9.31|       103915.93|
|           kia|             9.37|       105246.95|
|          fiat|             9.28|       110840.22|
|         skoda|             9.48|       111541.31|
|      daihatsu|             9.71|       114625.29|
|        nissan|             9.14|       114964.85|
|        toyota|             9.07|        115359.7|
|          seat|             9.49|       115988.79|
|       citroen|             9.23|       117547.69|
|    land_rover|            10.38|       117867.41|
|          jeep|             9.86|       119368.77|
+--------------+-----------------+----------------+
only showing top 20 rows

Summary of the above:

| Least Car Online | Most Car Online | Least Car Driven | Most Car Driven |
|----|----|----|----|
| daewoo | jaguar | trabant | saab |

## 10. Overview of Age vs Fuel Type
#### A. Checking for Newest and Oldest Car with the most used fuel types

In [28]:
AverageAgeofCar = autos_DF.groupBy('brand').agg(avg('AgeofCar_inyears').alias('AverageAgeofCar'), count('brand').alias("Count"))
                                                


AverageAgeofCar = AverageAgeofCar.withColumn('AverageAgeofCar', sf.round('AverageAgeofCar', 2))

print("Checking average age of the brands by decreasing order:")
AverageAgeofCar.select("brand", "AverageAgeofCar").orderBy(desc("AverageAgeofCar")).show()

print("Checking average age of the brands by increasing order:")
AverageAgeofCar.select("brand", "AverageAgeofCar").orderBy(asc("AverageAgeofCar")).show()

print("Most Common Fuel Types:")
autos_DF.groupBy('fuelType').agg(avg('Price').alias('Average Price'), count('fuelType').alias('Count'))\
                                                                                .orderBy(desc('Count')).show()


MostCommonFuel = autos_DF.groupBy('fuelType').agg(avg('Price').alias('Average Price'), count('fuelType').alias('Count'))\
                                                                                .orderBy(desc('Count'))


OldestCar                        = AverageAgeofCar.orderBy(desc("AverageAgeofCar")).first()
NewestCar                        = AverageAgeofCar.orderBy(asc("AverageAgeofCar")).first()
MostCommonFuelType               = MostCommonFuel.select('fuelType').first()
SecondMostCommonFuelType         = MostCommonFuel.select('fuelType').collect()[1]


print ("Summary of the above:")

display(Markdown("""
| %s | %s | %s | %s |
|----|----|----|----|
| %s | %s | %s | %s |
""" % ("Oldest Car", "Newest Car", "Most Common Fuel Type", "Second Most Common Fuel Type ", \
       "%s" % (OldestCar["brand"]), \
       "%s" % (NewestCar["brand"]), \
       "%s" % (MostCommonFuelType["fuelType"]), \
       "%s" % (SecondMostCommonFuelType["fuelType"]))))

Checking average age of the brands by decreasing order:
+--------------+---------------+
|         brand|AverageAgeofCar|
+--------------+---------------+
|       trabant|          32.12|
|sonstige_autos|          21.34|
|         rover|          16.33|
|          saab|          15.83|
|        lancia|           15.2|
|        jaguar|          14.72|
|          jeep|          14.26|
|         volvo|          13.95|
|      chrysler|          13.86|
|        subaru|           13.8|
|       porsche|          13.78|
|         honda|          13.54|
|        daewoo|          13.52|
| mercedes_benz|          13.33|
|    alfa_romeo|          13.25|
|    mitsubishi|          12.93|
|          opel|          12.82|
|      daihatsu|          12.57|
|    volkswagen|          12.39|
|          lada|          12.35|
+--------------+---------------+
only showing top 20 rows

Checking average age of the brands by increasing order:
+----------+---------------+
|     brand|AverageAgeofCar|
+----------+---------------+
|     dacia|           5.38|
|      mini|           8.25|
|   hyundai|           8.31|
|       kia|           8.46|
|     skoda|            8.5|
|     smart|          10.12|
|      seat|          10.26|
|   citroen|          11.03|
|      audi|           11.1|
|land_rover|          11.13|
|    toyota|          11.25|
|   peugeot|          11.36|
|    suzuki|          11.44|
|    nissan|          11.51|
|      fiat|          11.89|
|      ford|           11.9|
|       bmw|          12.15|
| chevrolet|           12.2|
|   renault|          12.27|
|     mazda|          12.32|
+----------+---------------+
only showing top 20 rows

Most Common Fuel Types:
+--------+------------------+------+
|fuelType|     Average Price| Count|
+--------+------------------+------+
|  benzin| 5865.176060896357|154492|
|  diesel| 9399.991486375862| 85510|
|     lpg|  4900.20645994832|  3870|
|     cng|5175.7174392935985|   453|
|  hybrid|13807.063829787234|   235|
|  andere| 6303.242857142857|    70|
| elektro|13044.260869565218|    69|
+--------+------------------+------+

Summary of the above:

| Oldest Car | Newest Car | Most Common Fuel Type | Second Most Common Fuel Type  |
|----|----|----|----|
| trabant | dacia | benzin | diesel |

#### B. Brands by Age

<div class = "alert alert-danger">
Nice that you have used pivot
</div>

In [29]:
AgeofCar = autos_DF.withColumn("AgeofCar",when((col("AgeofCar_inyears")>0) & (col("AgeofCar_inyears")<=5),"1.new")\
                               .when((col("AgeofCar_inyears")>5) & (col("AgeofCar_inyears")<=10),"2.medium")\
                               .when((col("AgeofCar_inyears")>10) & (col("AgeofCar_inyears")<=30),"3.old")\
                               .otherwise("4.classic"))

print("Top 20 brand with most new cars:")

AgeofCar.groupBy("brand").pivot("AgeofCar").count().orderBy(col("`1.new`").desc()).show()

print("Top 20 brand with most classic cars:")

AgeofCar.groupBy("brand").pivot("AgeofCar").count().orderBy(col("`4.classic`").desc()).show()

print("Ratio of Cars depending on Age:")
AgeofCar.groupBy("AgeofCar")\
                     .agg(count("AgeofCar").alias("TotalNumberofCars"), \
                          ((count("AgeofCar")/239314)*100).alias("Ratio"))\
                     .orderBy(desc("Ratio"))\
                     .select("AgeofCar","TotalNumberofCars",sf.round("Ratio",2).alias("Ratio")).show()

print("Ratio of Cars depending on Average Price:")
AgeofCar.groupBy("AgeofCar")\
                     .agg(count("AgeofCar").alias("TotalNumberofCars"), \
                           avg("price").alias("AveragePrice"))\
                     .orderBy(desc("AveragePrice"))\
                    .select("AgeofCar","TotalNumberofCars",sf.round("AveragePrice",2).alias("AveragePrice")).show()

Top 20 brand with most new cars:
+-------------+-----+--------+-----+---------+
|        brand|1.new|2.medium|3.old|4.classic|
+-------------+-----+--------+-----+---------+
|   volkswagen| 6638|   13336|29704|      648|
|         audi| 3805|    7595|12261|       92|
|          bmw| 2724|    8958|17327|      183|
|mercedes_benz| 2472|    6177|16767|      757|
|         opel| 1899|    5374|15639|      255|
|         ford| 1680|    4242| 9090|      278|
|        skoda| 1014|    1913| 1516|       11|
|         seat|  876|    1300| 2461|     null|
|      renault|  837|    2166| 7058|       54|
|      hyundai|  722|    1026|  973|     null|
|         fiat|  694|    1724| 2994|      158|
|         mini|  683|    1262|  896|       12|
|      peugeot|  569|    2212| 4523|       19|
|       nissan|  478|     858| 1924|       12|
|          kia|  469|     652|  762|     null|
|        smart|  466|    1089| 1743|     null|
|       toyota|  442|    1250| 1909|       27|
|      citroen|  363|    1312| 1715|       70|
|        dacia|  303|     408|    9|     null|
|        mazda|  284|     962| 2452|       12|
+-------------+-----+--------+-----+---------+
only showing top 20 rows

Top 20 brand with most classic cars:
+--------------+-----+--------+-----+---------+
|         brand|1.new|2.medium|3.old|4.classic|
+--------------+-----+--------+-----+---------+
| mercedes_benz| 2472|    6177|16767|      757|
|    volkswagen| 6638|   13336|29704|      648|
|sonstige_autos|  185|     449|  787|      541|
|          ford| 1680|    4242| 9090|      278|
|          opel| 1899|    5374|15639|      255|
|           bmw| 2724|    8958|17327|      183|
|       porsche|  219|     523|  813|      160|
|          fiat|  694|    1724| 2994|      158|
|     chevrolet|  277|     552|  374|      109|
|          audi| 3805|    7595|12261|       92|
|    alfa_romeo|   75|     412|  994|       71|
|       citroen|  363|    1312| 1715|       70|
|       trabant|    1|    null|  100|       63|
|         volvo|  182|     569| 1570|       56|
|       renault|  837|    2166| 7058|       54|
|          jeep|  106|     146|  316|       34|
|        jaguar|   38|     116|  288|       33|
|        toyota|  442|    1250| 1909|       27|
|    land_rover|  134|     192|  275|       25|
|       peugeot|  569|    2212| 4523|       19|
+--------------+-----+--------+-----+---------+
only showing top 20 rows

Ratio of Cars depending on Age:
+---------+-----------------+-----+
| AgeofCar|TotalNumberofCars|Ratio|
+---------+-----------------+-----+
|    3.old|           142950|59.73|
| 2.medium|            68814|28.75|
|    1.new|            29163|12.19|
|4.classic|             3772| 1.58|
+---------+-----------------+-----+

Ratio of Cars depending on Average Price:
+---------+-----------------+------------+
| AgeofCar|TotalNumberofCars|AveragePrice|
+---------+-----------------+------------+
|    1.new|            29163|    18312.03|
|4.classic|             3772|    11990.79|
| 2.medium|            68814|      9699.0|
|    3.old|           142950|     3421.62|
+---------+-----------------+------------+

#### C. Fuel Type Average Price

In [30]:
autos_DF.groupBy('fuelType').agg(avg('Price').alias('AveragePrice'), count('fuelType').alias('Count')).orderBy(desc("AveragePrice")).show()

+--------+------------------+------+
|fuelType|      AveragePrice| Count|
+--------+------------------+------+
|  hybrid|13807.063829787234|   235|
| elektro|13044.260869565218|    69|
|  diesel| 9399.991486375862| 85510|
|  andere| 6303.242857142857|    70|
|  benzin| 5865.176060896357|154492|
|     cng|5175.7174392935985|   453|
|     lpg|  4900.20645994832|  3870|
+--------+------------------+------+

In [31]:
print("Checking types of brands that use hybrid as a fueltype:")

autos_DF.select('brand', 'Price','vehicleType', 'DateofRegistration').where(" fuelType == 'hybrid' ").orderBy(desc("Price")).show()

Checking types of brands that use hybrid as a fueltype:
+--------------+-----+-----------+------------------+
|         brand|Price|vehicleType|DateofRegistration|
+--------------+-----+-----------+------------------+
| mercedes_benz|62900|  limousine|        2014-11-01|
|         volvo|49700|      kombi|        2014-08-01|
|           bmw|48999|        suv|        2010-06-01|
|sonstige_autos|41900|  limousine|        2014-02-01|
|    mitsubishi|41800|  limousine|        2015-11-01|
|           bmw|38450|  limousine|        2012-01-01|
|          audi|37900|      kombi|        2015-01-01|
|           bmw|37750|        suv|        2010-03-01|
|           bmw|37750|  limousine|        2010-03-01|
|sonstige_autos|35250|        suv|        2011-03-01|
|sonstige_autos|33499|  limousine|        2008-02-01|
|    volkswagen|32500|  limousine|        2016-03-01|
|    volkswagen|32500|  limousine|        2015-07-01|
|sonstige_autos|32000|  limousine|        2014-02-01|
|          audi|31250|  limousine|        2012-05-01|
| mercedes_benz|31000|  limousine|        2013-06-01|
| mercedes_benz|30500|  limousine|        2013-11-01|
| mercedes_benz|29990|  limousine|        2013-11-01|
|           bmw|29990|  limousine|        2011-12-01|
|    volkswagen|29500|        suv|        2011-02-01|
+--------------+-----+-----------+------------------+
only showing top 20 rows

#### D. Count of different types of gearbox

In [32]:
print("Checking different types of gearbox:")
autos_DF.groupBy('gearbox').count().show()

Checking different types of gearbox:
+---------+------+
|  gearbox| count|
+---------+------+
|automatik| 59919|
|  manuell|184780|
+---------+------+